extends ./template/baseDashboard.pug
block scripts
    script
        include ./static/theme.js
        include ./static/questDashboard.js
    script 
        | var uncompletedQuests = !{JSON.stringify(uncompletedQuests)};
        | var completedQuests = !{JSON.stringify(completedQuests)};
        //- | console.log(completedQuests)
        | var guildID = !{JSON.stringify(selectedGuildId)};
        
        

block styles 
    style 
        include ./assets/css/main.css
        include ./assets/css/sidebar.css
        include ./assets/css/menu.css
        include ./assets/css/dashboard.css
        include ./assets/css/createQuestPopup.css
        include ./assets/css/editQuestPopup.css
        include ./assets/css/statusQuestPopup.css
        include ./assets/css/deleteQuestPopup.css
        include ./assets/css/questDashboard.css



block dashboardContent
    include ./components/deleteQuestPopup.pug
    include ./components/editQuestPopup.pug
    .dashboardContent(quests=true)
        h1 
            span(id="uncompletedQuestsCount").questCount #{uncompletedQuests.length}
            span.questBoxTitle Current Activities
            .sorting-div
                i.fas.fa-exchange-alt.fa-2x(id='sortingIcon').desc
                select(onchange="sortingChanged(this)" class="sortingSelectTextColor")
                    option(value="importance" selected="selected" class="sortingSelectTextColor")
                        span 
                        | !{' | '}
                        span Importance
                    option(value="started")
                        span 
                        | !{' | '}
                        span Started
                    option(value="alphabetical")
                        span 
                        | !{' | '}
                        span Alphabetical
            input(placeholder="Search quest", oninput="searchQuest(this)", spellcheck="false")
        .questBox(id="uncompletedQuestsBox")
            each quest in uncompletedQuests
                include ./components/quest.pug
            .questDiv.addNewQuest(id="addNewQuestDiv" draggable="false")
                include ./components/createQuestPopup.pug
        h1 
            span(id="completedQuestsCount").questCount #{completedQuests.length} 
            span.questBoxTitle Past Activities
            include ./components/statusQuestPopup.pug
            //- input(placeholder="Search Quest", oninput="updateInput(this.value)", spellcheck="false")
        .questBox(id="completedQuestsBox")
            each quest in completedQuests
                include ./components/quest.pug
            
        