.characterCard(id=`card-${character.character_id}` unselectable="on" style=`--character-count: ${index > 0 ? index * (30 + 5) : index * 15}px;`)
    .characterImageHolder(style=`--average-color: ${character.average_color || '#000000'}`)
        img(src=character.picture_url alt="Character Image")
    .characterInformation
        .characterInformationHeader
            span.characterName #{character.name}
            span.characterLevel Lvl.
                img(src=`../../../${character.level}.png`, alt="icon")
        span.characterDescription #{character.description}
        .characterInformationStatistics
            .infoBundle
                .infoPair
                    span Age 
                    span #{character.age}
                .infoPair
                    span Race 
                    span #{character.race}
                .infoPair
                    span Class 
                    span #{character.class}
                .infoPair
                    span Background 
                    span #{character.background}
            .infoBundle.classIcon
                img(src=`../../../${character.class}.png`, alt="icon")
            .infoBundle.wip
                .infoPair
                    i.fa-solid.fa-hand-fist 
                    .progressBar.strength
                        span(style=`--progress: ${50}%;`)
                .infoPair
                    i.fa-solid.fa-hand 
                    .progressBar.dexterity
                        span(style=`--progress: ${25}%;`)
                .infoPair
                    i.fa-solid.fa-heart 
                    .progressBar.constitution
                        span(style=`--progress: ${75}%;`)
                .infoPair
                    i.fa-solid.fa-brain 
                    .progressBar.intelligence
                        span(style=`--progress: ${30}%;`)
                .infoPair
                    i.fa-solid.fa-eye 
                    .progressBar.wisdom
                        span(style=`--progress: ${60}%;`)
                .infoPair
                    i.fa-solid.fa-comment 
                    .progressBar.charisma
                        span(style=`--progress: ${100}%;`)
        
        
        