.characterItem(id=`listItem-${character.character_id}`)
    .classIcon 
        if (character.playerIcon)
            img(src=`${character.playerIcon}` alt="Player Icon")
    .characterFullName 
        p #{character.name}
    .characterLevel 
        p Lvl.
        | !{' '}
        p #{character.level || '?'}