//- button(onclick="window.location='http://localhost:8080/auth/logout';") Logout
.action 
    .profileHeader
        .profileImageWrapper(onclick="profileMenuToggle();")    
            img(src=loggedInUser.avatar, alt="" onfocusout="profileMenuToggle();")
        span#username #{`${loggedInUser.username}#${loggedInUser.discriminator}` }
            if (isDungeonMaster === true)
                span Dungeon Master 
            else if (userCharacter) 
                span #{`${userCharacter.name}` }
    a(href=`${baseURL}/auth/logout`)   
            .menuCategoryItem#profileHeader
                span.menuIcon  