doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/632dfea1bf.js" crossorigin="anonymous")
        script(src="https://unpkg.com/axios/dist/axios.min.js")

        //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

        title Chthulu Dashboard
        block styles 
        block scripts 
        
    body.preload
        .sidebar
                header.sidebarHeader
                    .icon
                        a.bot-icon(href=`/`)
                            img(src=bot.user.avatarURL() alt="Chthulu Avatar")
                .sidebarContent 
                    each guild in bot.guilds.cache.map(guild => guild)
                        if (guild.id === selectedGuildId)
                            .icon.selected
                                a.guild-icon(href=`/dashboard/${guild.id}`)
                                    img(src=guild.iconURL() alt="Server Avatar")
                        else 
                            .icon(gIcon)
                                a.guild-icon(href=`/dashboard/${guild.id}`)
                                    img(src=guild.iconURL() alt="Server Avatar")
                if isGuildDashboardPage
                    .extendMenu(onclick="toggleMenu()")
                        i.fas.fa-chevron-right
                        i.fas.fa-chevron-right
                        i.fas.fa-chevron-right
        .menu(guild=isGuildDashboardPage)
            header.menuHeader
                span #{guildName}
            .menuContent 
                .menuCategory 
                    span Campaign
                        a(href=`/dashboard/${selectedGuildId}/informational/characters`)
                            .menuCategoryItem          
                                span.menuIcon  
                                span Characters
                        a(href=`/dashboard/${selectedGuildId}/informational/nonplayercharacters`)   
                            .menuCategoryItem
                                span.menuIcon  
                                span NPC's
                        a(href=`/dashboard/${selectedGuildId}/informational/quests`)   
                            .menuCategoryItem
                                span.menuIcon  
                                span Quests
                        a(href=`/dashboard/${selectedGuildId}/informational/map`)   
                            .menuCategoryItem
                                span.menuIcon  
                                span Map
                        a(href=`/dashboard/${selectedGuildId}/informational/sessions`)   
                            .menuCategoryItem
                                span.menuIcon 
                                span Sessions
                .menuCategory 
                    span Lookup
                        a(href=`/dashboard/${selectedGuildId}/lookup/item`)   
                            .menuCategoryItem
                                span.menuIcon 
                                span Item
                        a(href=`/dashboard/${selectedGuildId}/lookup/condition`)   
                            .menuCategoryItem  
                                span.menuIcon  
                                span Condition
                        a(href=`/dashboard/${selectedGuildId}/lookup/spell`)   
                            .menuCategoryItem  
                                span.menuIcon  
                                span Spell
                .menuCategory 
                    span Settings
                        a(href=`/dashboard/${selectedGuildId}/settings/dnd`)   
                            .menuCategoryItem
                                span.menuIcon  
                                span Dungeons & Dragons
                        a(href=`/dashboard/${selectedGuildId}/settings/general`)   
                            .menuCategoryItem
                                span.menuIcon  
                                span General
                        a(href=`/dashboard/${selectedGuildId}/settings/information`)   
                            .menuCategoryItem
                                span.menuIcon  
                                span Information
                        a(href=`/dashboard/${selectedGuildId}/settings/miscellaneous`)   
                            .menuCategoryItem
                                span.menuIcon  
                                span Miscellaneous
        .dashboard(guild=isGuildDashboardPage).menuIsExtended
            header.dashboardHeader
                span #{headerTitle} Dashboard
                button(onclick="window.location='/login';") Login
            block dashboardContent